<p>My hostname is: {{ ansible_nodename }}</p>
<p>I have {{ansible_processor_cores }} cores and {{ ansible_processor_threads_per_core }} threads per core</p>
<p>I have a total of {{ ansible_memtotal_mb }} MB of RAM</p>
<p>My owner is </p>
<p>My operating system is: {{ ansible_distribution_file_variety }} {{ ansible_distribution_major_version }} {{ ansible_architecture }}</p>
