<p>My hostname is: {{ ansible_nodename }}</p>
<p>I have {{ansible_processor_cores }} cores and {{ ansible_processor_threads_per_core }} threads per core</p>
<p>I have a total of {{ ansible_memtotal_mb}} MB of RAM</p>
<p>My owner is </p>
